*{
    font-family: 'Comic Sans MS', cursive  !important;
    justify-content: center;
    margin:2em;
}
body{
    background-color: rgba(188, 240, 240,20);
}
.desafio1{
    color:orange;
}
#lista1{
    list-style-type: cjk-ideographic;
}
.lista2{
    list-style-type: armenian;
}
.itens__1{
    color:#00009C
}